div {
	border: 1px black solid;
}

/* 
	GENERAL
*/
div.container-fluid {
	height: 100vh;
}
div.row {
	height: 100%;
}

/* Title & menu */
div.menu {
	height: 15%;
}

div.title {
	height: 50%;
}

div.nav {
	height: 50%;
}

/* Content */
div.content {
	height: 85%;
}
div#content {
	height: 100%;
}

/* 
	TALKING PAGE 
*/
div.conversation {
	height: 80%;
}
div#conversation {
	overflow: scroll;
}
div#conversation p {
	vertical-align: sub;
}
div.action {
	height: 15%;
}

p.playerTalk {
	text-align: right;
}
p.npcTalk {
	text-align: left;
}

/* 
	DASHBOARD
*/
div.button {
	max-width: 110px;
	margin-bottom: 15px;
}

div.onCooldown {
	background-color: gray;
	text-decoration: none!important;
	cursor: auto!important;
}
div.hidden {
	display: none;
}
p.hidden {
	display: none;
}