.container-fluid {
	position: relative;
	user-select: none;
}

#btnsWrap {
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#ptsWrap {
	margin: 25px 0;
}

#timeline {
	margin: 25px 0;
	max-width: 500px;
	max-height: 600px;
}

#shop {
	position: absolute;
	top: 15vh;
	display: flex;
	flex-direction: row;
	height: 5vh;
	width: 80%;
	max-width: 500px;
	padding: 0 15px;
}

.item {
	text-decoration: underline;
	cursor: pointer;
	margin-right: 10px;
}

.desc {
	text-decoration: none;
	border: 1px black solid;
	padding: 0 3px;
	position: relative;
	left: 0;
	top: 15px;
}

.actionBtn {
	border: 1px black solid;
	padding: 3px 3px;
	cursor: pointer;
}

.onCooldown {
	background-color: grey;
	cursor: default;
}
